{% extends "pages/layouts/base.html" %}

{% load staticfiles %}
{% block content %}
{% include "pages/layouts/form-body.jsp" %}
<h1><u>About Traffic Rules and safety :</u></h1>
<p>
<h3>Traffic Rules & Regulations</h3>
<h5><u>1)	Introduction</u></h5>
<h5>Do not Drive without these Documents</h5>
<u>Valid driving license<br>
Vehicle registration certificate ( Form 23)<br>
Valid vehicle's insurance certificate<br>
Permit and vehicle's certificate of fitness (applicable only to transport vehicles)<br>
Valid Pollution Under Control Certificate On demand by a police officer in uniform or an officer of the Transport Department, produce these documents for inspection
</u><h5><u>2)	Rules of the Road</u></h5>
General Rules Keep Left on a two-way road to allow traffic from the opposite direction to pass on your right and on a one-way road to allow vehicles behind you to overtake from your right.
When Turning Left keep to the left side of the road you are leaving as well as the one you are entering. When turning right, move to the centre of the road you are leaving and arrive near the left side of road you are entering.
Slow Down at road junctions, intersections, pedestrian crossings and road corners and wait until you are sure of a clear passage ahead. if you are entering a main road where traffic is not being regulated, give way to vehicles passing on your right.
<h5><u>Hand Signal</u></h5> RightHand Signals are necessary at certain times. When slowing down, extend your right arm palm down and swing it up and down; when stopping, raise your forearm vertically outside the vehicle; when turning right or changing lane to the right hand side, extend your right arm straight out, palm to the front; when turning left or changing lane to the left hand side, extend your right arm and rotate it in an anti-clockwise direction.
To allow the vehicle behind you to overtake, swing your right arm backward and forward in a semi circular motion. Hand Signal LeftDirection Indicators Better use directions indicators instead of hands singlals and both in case of any emergancy. Wearing a Helmet for Two Wheeler Drivers is a statutory requirement. The helmet must conform to the ISI standards and should bear the ISI mark. Helmet works as a shield for your head in case of a mishap. It is designed for your individual safety and not as a cover to avoid legal prosecution. For complete safety tie the strap properly otherwise the helmet may slip from your head in case of an accident head injury. (Turban wearing Sikhs are exempted from using a helmet).
<h5><u>Driving at Night</u></h5>
The driver will not see the cattle in time to stop the high beam is useful for extra seeing distance. However, you must dip your headlights to low beam when an approaching vehicle is within 200m, or die other vehicle's headlights dip, whichever is sooner. Also dip your headlights when driving 200m or less behind another vehicle.
Dip your lights for oncoming traffic
Dip your lights
Dip your lights when following other vehicles Remember not to use high beam in foggy conditions as your light reflects back, reducing visibility. Also remember to use your dipper at night.If oncoming traffic does not dip its high beam, look to the left side of the road and drive towards the left of your lane.If you are dazzled, slow down or pull over until your eyes recover.

<h5><u>How To Stop Quickly</u></h5>
How To Stop Quickly
The best way to stop quickly is to drive slowly. Sometimes, unexpected things happen quickly. A driver can pull out of a side street without warning. A pedestrian can suddenly step out from behind a parked car. A truck can drop some of its load. A scooterist or motorcyclist could hit a pot-hole and fall off. If you are travelling too fast, it may be difficult to avoid an accident. In the diagram below one of the cars is driving at a speed higher by only 10 km/h. A truck suddenly pulls up in front. If both drivers brake hard at the same time, one car will avoid a collision while the other will strike the truck at 30 km/h. (These calculations are based on ideal road conditions, good drivers and well-maintained cars. This may not be the case always.)
Right of Way At some crossroads there are no traffic lights or signs. When you come to one of these intersections you must give way to vehicles travelling in the intersection on your right as marked below:

<h5><u>Right of Way</u></h5>
Red car has to give way to other oncoming vehicles. You must also give way to the right at intersections where the lights have failed. If yours and an oncoming vehicle are turning right at an intersection both cars should pass in front of each other.
Right of Way If the other drivers do not give way to you, do not commit the same mistake they are doing. Give way to fire engines and ambulances by driving your vehicles to the side of the road. Give way to pedestrians at crossings that are not regulated. Give way to traffic already in the lane you are moving into. INTERSECTION At T-intersections the vehicle travelling on the road that ends must give way to any vehicle traveling on the road that continues (unless otherwise sign-posted). The give way to the right rule does not apply to T-intersections.
Right of Way Red Car has to give way to Blue Car
<h5><u>Turning</u></h5>

Remember to give way to pedestrians when turning to the left. When turning right, make proper hand or indicator signal, move as close to the centre line as possible and Turn only when there is no oncoming vehicle.
U-Turn When Taking a U-Turn signal by hand the way you would for a right turn, observing the traffic behind you in your rear view mirror at the same time. Do not take a U-turn where it is specifically prohibited.
U-turns can be dangerous. Be extra careful while taking one. Make sure it is safe and let other motorists know by signalling at least 30 metres before you turn.
Remember U-turns cannot be made at traffic lights, on high-ways or if your U-turn disrupts traffic. Also U-turns are prohibited on a road marked with any single unbroken line or double centre lines whether or not one line is broken
</p>
{% include "pages/layouts/footer.jsp" %}
{% endblock %}