{% extends "pages/layouts/base.html" %}

{% load staticfiles %}
{% block content %}
{% include "pages/layouts/form-body.jsp" %}
<center>
     <form action="/clear_fine/" method="post">
		{% csrf_token%}
         <div id="simpleBox">
			<h2 id="heading">Enter the following details </h2>

			<table id="textAlign">
				<tr>
					<td>Vehicle Number &nbsp;&nbsp;<font color="red">*</font></td>
                    <td><input type ="text" name="Vehicle Number "></td>

				</tr>
				<tr>
					<td>Location &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="red">*</font></td>
                     <td><select name="location">
                        <option value="0" selected> Location</option>
                        <option value="1">BTM Layout</option>
                        <option value="2">BG Road </option>
                        <option value="3">No Parking</option>
                        <option value="4">Drunken Drive	</option>
                        <option value="5">Defective Number Plate</option>

                    </select>
                    </td>

				</tr>
                <tr>
                    <td>Violation &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="red">*</font></td>
                    <td><select name="violation">
                        <option value="0" selected> Violation</option>
                        <option value="1">Jumping Traffic Signal</option>
                        <option value="2">No Helmet</option>
                        <option value="3">No Parking</option>
                        <option value="4">Drunken Drive	</option>
                        <option value="5">Defective Number Plate</option>

                    </select>
                    </td>
                </tr>
			</table>
			<br />
			<input type="submit" value="Submit"
				class="specialButton" />
		</div>
  </form>

</center>

{% include "pages/layouts/footer.jsp" %}
{% endblock %}