{% extends "pages/layouts/base.html" %}

{% load staticfiles %}
{% block content %}
{% include "pages/layouts/form-body.jsp" %}

<center>
    <form name="look_fineForm" action="/look_fineSubmit/"  method="post" onsubmit = "return(validate());">
		{% csrf_token %}
		<div id="simpleBox">
			<h4><font color="red">{{ message}}</font></h4>
			<h2 id="heading">Enter the following details </h2>

			<table id="textAlign">
				<tr>
					<td>Vehicle Number &nbsp;&nbsp;<font color="red">*</font></td>
                    <td><input type ="text" name="vehicleNumber" id="vNumber"> </td>

				</tr>
                <tr>

                </tr>
            </table>
			<br />
			<input type="submit" value="Submit"
				class="specialButton" />
        </div>
  </form>
</center>
{% include "pages/layouts/footer.jsp" %}
{% endblock %}